*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    gap:2rem;
}

.box{
    border: 1px double black;
    padding: 1.5rem;
    border-radius: 6px;
    background-color: white;
    font-size: large;
    
}

h1{
    text-align: center;
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #EEE;
    font-weight: lighter;
}

input{
    padding: 1rem;
    border-radius: 5px;
    margin-right: 1rem;
    font-size: large;
}

button{
    padding: 1rem;
    border-radius: 5px;
    font-size: large;
}
